.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    padding-bottom: 100px;
  }
  
  .header h2 {
    font-size: 4em;
    color: #172850;
  }
  .header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    background: #fa676c;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
  }